@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300");


/* Basic */


	html {
		box-sizing: border-box;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}



	body {
		background-image: url(), linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../images/bg.jpg");
		background-size: 100px 100px, cover,				cover;
		background-attachment: fixed;
		height: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
		position: relative;
		padding-top: 1.5em;
	}



/* Type */

	body, input {
		font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-size: 14pt;
		letter-spacing: 0.2em;
		text-transform: uppercase;
	}



	h1 {
		color: #313f47;
		line-height: 1.5;
		margin: 0 0 0.75em 0;
		font-size: 1.55em;
		letter-spacing: 0.05em;
	}


	hr {
		border: 0;
		border-bottom: solid 1px #c8cccf;
		margin: 3em 0;
	}

/* Form */

	form
	{

		margin: 0 0 1.5em 0;

	}

	form > :last-child
	{

		margin-bottom: 0;

	}

	form > .fields
	{

		display: flex;
		flex-wrap: wrap;
		width: calc(100% + 2.25em);
		margin: -1.125em 0 1.5em -1.125em;

	}

	form > .fields > .field
	{

		flex-grow: 0;
		flex-shrink: 0;
		padding: 1.125em 0 0 1.125em;
		width: calc(100% - 1.125em);

	}

	input[type="password"]
	{

		appearance: none;
		border-radius: 4px;
		border: solid 1px #c8cccf;
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1em;
		text-decoration: none;
		width: 100%;

	}


	input[type="password"]:focus
	{

		border-color: #43EAFE;

	}





	input[type="password"]
	{

		height: 2.75em;

	}

	input[type="submit"]
	{

		background: #ffffff;
		appearance: none;
		display: inline-block;
		height: 2.75em;
		line-height: 2.75em;
		padding: 0 1.5em;
		border-radius: 4px;
		border: solid 1px #c8cccf;
		color: #414f57;
		cursor: pointer;
		text-align: center;
		text-decoration: none;

	}

	input[type="submit"]:hover
	{

		border-color: #43EAFE;
		color: #43EAFE;

	}



	.main
	{

		padding: 4.5em 3em 3em 3em ;
		background: #ffffff;
		border-radius: 4px;
		cursor: default;
		max-width: 100%;
		opacity: 0.95;
		position: relative;
		text-align: center;
		width: 27em;

	}

	.avatar
	{

		position: relative;
		display: block;
		margin-bottom: 1.5em;

	}

	.avatar img
	{

		display: block;
		margin: 0 auto;
		border-radius: 100%;
		box-shadow: 0 0 0 1.5em #ffffff;

	}

	.avatar:before
	{

		content: '';
		display: block;
		position: absolute;
		top: 50%;
		left: -3em;
		width: calc(100% + 6em);
		height: 1px;
		z-index: -1;
		background: #c8cccf;

	}
