<!DOCTYPE HTML>
<html lang="FR">
		<head>
			<title>EcoN'Home - Page d'acceuil</title>
			<meta charset="utf-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
			<link rel="stylesheet" href="./css/style.css" />
		</head>
	<body>

		<section class="main">
		
			<header>
			
				<span class="avatar"><img src="images/avatar.jpeg" /></span>
				<h1>BONJOUR MR FAUCHER</h1>
				<p>DITES BONJOUR A VOS ECONOMIES</p>
				
			</header>
			
			<hr />
			
			<form method="post" action="#">
		
				<div class="fields">

					<div class="field">
		
						<input type="password" name="password"  placeholder="MOT DE PASSE" />
		
					</div>

				</div>

				<input type="submit" value="CONNEXION"> 
	
			</form>

		</section>
	</body>
</html>