<!doctype html>
<html lang="fr">

<head>
    <title>EcoN'Home - Page d'Acceuil</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>

    <section class="main">

        <header>

            <span class="avatar"><img src="/images/avatar.jpeg" /></span>

        </header>

        <hr />

        <form method="post" action="/login">

            <div class="fields">

                <div class="field">

                    <input type="password" name="password" placeholder="mot de passe" />

                </div>

            </div>

            <input type="submit" value="connexion">

        </form>

    </section>
</body>

</html>
