<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Accueil - EcoN'Home</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <% if (typeof data != 'undefined') {%>
    <h1>Data:
        <%= data %>
    </h1>
    <% } %>
    <% if (typeof auth !== 'undefined') {%>
    <section class="main">
        <hr />
        <form method="post" action="/login">
            <div class="fields">
                <div class="field">
                    <input type="password" name="password" placeholder="mot de passe" />
                </div>
            </div>
            <input type="submit" value="connexion">
        </form>
    </section>
    <% } %>
</body>

</html>
